sudo: false
language: ruby
rvm:
  - '2.0.0-p648'
  - '2.1.8'
  - '2.2.4'
  - '2.3.0'
  - '2.4.1'

install:
  - gem install rubocop
  - gem install rspec
  - bundle install

script:
  - rubocop
  - bundle exec rspec spec
